html {
  font: 100%/1.15 times;
}

body {
  max-width: 60rem;
  background-color: #lightpink;
  padding: 2% 2rem;
  margin: 0 auto;
}

img {
  width:auto;
  max-width: 100%;
  height:auto;

}

h1,
h2 {
  color: #blue
}

/*lists */
dl,
ol,
ul {
 margin-top: 0;
 margin-bottom: 0;
  }

/*navigation menu */
nav ul {
  list-style: none;
  padding-left: 0.5em;
}

nav li {
  margin-top: 0.5rem;

}



  dd {
    margin-left: 0
  }




@media (min-width: 60em) {

    body {
  font-size: 125%;
}

}
